.whiteboardContainer {
    width: 640px;
    height: 640px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

<<<<<<< HEAD
.buttonContainer {
    background-color: rgb(241, 145, 18);
    display: flex;
    justify-content: center;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

.preContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
=======
>>>>>>> refs/remotes/origin/main
